resources
tmp/
debian-installer*
!debian-installer.d
profiles/default.conf
profiles/default.preseed
profiles/expert.preseed
simplecdd.log
profiles/netboot.expert.preseed.amd64
profiles/netboot.preseed.amd64
images
*.iso
*.img
profiles/untangle.packages
