sudo: required

git:
  depth: false

services:
- docker

env:
  global:
    # DOCKER_PASSWORD
    - secure: "GAew5U/YEjjE0pErO0fULKPwSRpBMcDTUU9UTnGnnfr0IMz8AsXnaN6p3ONcKtDFyLQWohhvHBME/JFSQif7CD471wK8szsaWqB7miiqQOTmqEFdoGtoHimXY/Ye9Lm7CaIjpr7VzsbAQ4eV5JupUumALflwS58n4rLo3jRL4dZfWltRYw6ouX1DO3h9CdV6OBhl0uvJvIqvRV81/+4gwQ4ElW3PiXSvKlLTrHArExjUqMqmEw9r6br3BE9vLCbEOQYDihGsknS6oDCr9kYS7INEZ9PhoFDpvoMwEEp3eKt2GKfW3oCewdUmVkgh0+TYpcA6p/4oy/XFuBXYrV7bjN9URonv7jn7OzB4tCRJ0V+IzwcmxvuSdfvaAXF69eqFFfFYln+sZS/Qv9Qs86O9TBbzyCn1mVrmIkxjcyf04ua6yf7f2gQ4tlMFbvbcLaZMqfkCoLgBOFPsd0VCDMwLkdjK4a29aNqitMSkFadrw1Y7Zfv3n0YRFJ/SdpJepzKep3X5HL8/g5+2b1C2rLALJmejuJBENo25XHTKAfC0p7hZ02Ic7nW+g16ZEgMkhBx+tPN/CpNedrmkELWN5y8isJQgiQ4BrIM3gdE9qh9KPfm5U1BFBU93p3l1fekwFjwhbPjOqhs06mvTYZoyfo8cORuNy+fMrFlSSFIp03jmoqY="
    - DOCKER_USERNAME: untangleengineering
      SSH_KEY: /tmp/travis-buildbot.rsa
      PACKAGE_SERVER_IP: 50.211.244.129
      REPOSITORY: buster
      PKGTOOLS_COMMIT: origin/${TRAVIS_BRANCH}
      IMG_MODIFIER_COMMIT: origin/${TRAVIS_BRANCH}
      UPLOAD: scp
      PRIVILEGED: true
  jobs:
    - ARCHITECTURE: amd64
      VENDOR: untangle
    - ARCHITECTURE: amd64
      VENDOR: vendor2
      IMG_MODIFIER_VENDOR: vendor2

before_install:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- docker pull untangleinc/ngfw:${REPOSITORY}-build-multiarch
- openssl aes-256-cbc -K $encrypted_404963842fb3_key -iv $encrypted_404963842fb3_iv -in .travis/buildbot.rsa.enc -out ${SSH_KEY} -d
- chmod 600 ${SSH_KEY}

script:
  - docker-compose -f docker-compose.build.yml run pkgtools
  # build d-i and udebs
  - docker-compose -f docker-compose.build.yml run build
  # apply img_modifier
  - docker-compose -f docker-compose.build.yml run img_modifier_checkout
  - docker-compose -f docker-compose.build.yml run img_modifier_apply
  # build modified packages without cleaning or uploading
  - FORCE=1 NO_CLEAN=1 UPLOAD= DEBUG=1 docker-compose -f docker-compose.build.yml run build
  # build images
  - docker-compose -f docker-compose.build.yml run build bash -c "../ngfw_pkgtools/build.sh setup-only && make iso/${VENDOR}-image iso/${VENDOR}-push"
