#! /usr/bin/make -f
%:
	dh $@

build-arch: debian/templates

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

debian/templates: debian/templates-arch
	debian/templates-build.pl $(DEB_HOST_ARCH) < $< > $@

override_dh_builddeb:
	dh_builddeb
	# Hack for Untangle builds to copy our files directly into localdeb directory for d-i.
	cp ../*.udeb ../../d-i/build/localudebs
